node-red-flow.json
[
  {
    "id": "flow1",
    "type": "tab",
    "label": "Flights PT + OpenMeteo (Safe)",
    "disabled": false
  },
  {
    "id": "inject",
    "type": "inject",
    "z": "flow1",
    "name": "Every 30s",
    "props": [{"p": "payload"}],
    "repeat": "30",
    "once": true,
    "onceDelay": 0.1,
    "payloadType": "date",
    "x": 120,
    "y": 100,
    "wires": [["opensky"]]
  },
  {
    "id": "opensky",
    "type": "http request",
    "z": "flow1",
    "name": "OpenSky PT Flights",
    "method": "GET",
    "ret": "obj",
    "url": "https://opensky-network.org/api/states/all?lamin=36&lomin=-10&lamax=43&lomax=-6",
    "x": 320,
    "y": 100,
    "wires": [["process"]]
  },
  {
    "id": "process",
    "type": "function",
    "z": "flow1",
    "name": "Normalize + Filter PT (Safe)",
    "func": "const states = msg.payload?.states || [];\n\nif (!Array.isArray(states) || states.length === 0) {\n    node.warn(\"No flight data received\");\n    return null;\n}\n\nconst MIN_LAT = 36;\nconst MAX_LAT = 43;\nconst MIN_LON = -10;\nconst MAX_LON = -6;\n\nmsg.payload = states\n  .filter(s => s[5] && s[6])\n  .map(s => ({\n    id: s[0],\n    callsign: s[1]?.trim(),\n    country: s[2],\n    lon: s[5],\n    lat: s[6],\n    altitude: s[7],\n    velocity: s[9],\n    heading: s[10]\n  }))\n  .filter(f =>\n    f.lat >= MIN_LAT && f.lat <= MAX_LAT &&\n    f.lon >= MIN_LON && f.lon <= MAX_LON\n  );\n\nif (!Array.isArray(msg.payload) || msg.payload.length === 0) {\n    node.warn(\"No flights over Portugal\");\n    return null;\n}\n\nreturn msg;",
    "x": 560,
    "y": 100,
    "wires": [["limit"]]
  },
  {
    "id": "limit",
    "type": "function",
    "z": "flow1",
    "name": "Limit to 10 Flights",
    "func": "msg.payload = msg.payload.slice(0, 10);\nreturn msg;",
    "x": 780,
    "y": 100,
    "wires": [["split"]]
  },
  {
    "id": "split",
    "type": "split",
    "z": "flow1",
    "name": "Split Flights",
    "splt": "",
    "arraySplt": 1,
    "stream": false,
    "addname": "",
    "x": 980,
    "y": 100,
    "wires": [["buildWeather"]]
  },
  {
    "id": "buildWeather",
    "type": "function",
    "z": "flow1",
    "name": "Build Weather URL",
    "func": "const f = msg.payload;\nmsg.flight = f;\nmsg.url = `https://api.open-meteo.com/v1/forecast?latitude=${f.lat}&longitude=${f.lon}&current_weather=true`;\nreturn msg;",
    "x": 1180,
    "y": 100,
    "wires": [["weather"]]
  },
  {
    "id": "weather",
    "type": "http request",
    "z": "flow1",
    "name": "Open-Meteo",
    "method": "GET",
    "ret": "obj",
    "url": "",
    "x": 1380,
    "y": 100,
    "wires": [["merge"]]
  },
  {
    "id": "merge",
    "type": "function",
    "z": "flow1",
    "name": "Merge Flight + Weather",
    "func": "const w = msg.payload?.current_weather;\nconst f = msg.flight;\n\nif (!w) {\n    node.warn(\"No weather data\");\n    return null;\n}\n\nmsg.payload = {\n  ...f,\n  weather: {\n    temperature: w.temperature,\n    windspeed: w.windspeed,\n    winddirection: w.winddirection,\n    weathercode: w.weathercode,\n    time: w.time\n  }\n};\n\nreturn msg;",
    "x": 1580,
    "y": 100,
    "wires": [["join"]]
  },
  {
    "id": "join",
    "type": "join",
    "z": "flow1",
    "name": "Join All Flights",
    "mode": "auto",
    "build": "array",
    "property": "payload",
    "x": 1780,
    "y": 100,
    "wires": [["debug"]]
  },
  {
    "id": "debug",
    "type": "debug",
    "z": "flow1",
    "name": "Final Output",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "x": 1980,
    "y": 100,
    "wires": []
  }
]
