node-red-flow.json
[
    {
        "id": "tab_main",
        "type": "tab",
        "label": "SkyIntel Ingestion",
        "disabled": false,
        "info": "Fetches live flights from OpenSky Network, enriches with real weather from OpenWeatherMap (set OPENWEATHER_API_KEY env var in Node-RED), detects severe conditions, and ingests into SkyIntel backend."
    },
    {
        "id": "tab_health",
        "type": "tab",
        "label": "Backend Health",
        "disabled": false,
        "info": "Polls the SkyIntel backend health endpoint every 5 minutes and logs status changes."
    },
    {
        "id": "tab_cleanup",
        "type": "tab",
        "label": "Stale Data Cleanup",
        "disabled": false,
        "info": "Deletes stale flight records from the database every hour to keep data fresh."
    },

    {
        "id": "n_inject",
        "type": "inject",
        "z": "tab_main",
        "name": "Every 30s",
        "props": [{ "p": "payload" }],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 160,
        "wires": [["n_prepare_auth"]]
    },

    {
        "id": "n_prepare_auth",
        "type": "function",
        "z": "tab_main",
        "name": "Set OpenSky Auth",
        "func": "const clientId = env.get('OPENSKY_CLIENT_ID') || '';\nconst clientSecret = env.get('OPENSKY_CLIENT_SECRET') || '';\nif (clientId && clientSecret) {\n    const encoded = Buffer.from(clientId + ':' + clientSecret).toString('base64');\n    msg.headers = { 'Authorization': 'Basic ' + encoded };\n    node.status({ fill: 'green', shape: 'dot', text: 'Auth ready' });\n} else {\n    node.status({ fill: 'yellow', shape: 'ring', text: 'No auth (anonymous)' });\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 160,
        "wires": [["n_fetch_flights"]]
    },

    {
        "id": "n_fetch_flights",
        "type": "http request",
        "z": "tab_main",
        "name": "Fetch Flights (OpenSky)",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://opensky-network.org/api/states/all?lamin=30&lomin=-32&lamax=45&lomax=-1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 340,
        "y": 160,
        "wires": [["n_process_flights"]]
    },

    {
        "id": "n_process_flights",
        "type": "function",
        "z": "tab_main",
        "name": "Parse & Filter Flights",
        "func": "const states = msg.payload && msg.payload.states;\nif (!states || !Array.isArray(states)) {\n    node.warn('No states from OpenSky');\n    node.status({ fill: 'red', shape: 'ring', text: 'No data from OpenSky' });\n    return null;\n}\n\nconst flights = states\n    .filter(s => s[5] !== null && s[6] !== null)\n    .map(s => ({\n        id: s[0],\n        callsign: (s[1] || s[0]).trim(),\n        lon: s[5],\n        lat: s[6],\n        altitude: s[7] ? Math.round(s[7] * 3.28084) : 0,\n        speed: s[9] ? Math.round(s[9] * 1.94384) : 0,\n        heading: s[10] || 0,\n        onGround: s[8] || false,\n        originCountry: s[2] || 'Unknown'\n    }));\n\nif (flights.length === 0) {\n    node.warn('No valid flights after filtering');\n    node.status({ fill: 'yellow', shape: 'ring', text: 'No valid flights' });\n    return null;\n}\n\nmsg.flights = flights;\nnode.status({ fill: 'blue', shape: 'dot', text: flights.length + ' flights parsed' });\n\nconst apiKey = env.get('OPENWEATHER_API_KEY') || '';\nmsg.url = 'https://api.openweathermap.org/data/2.5/weather?lat=38.5&lon=-8.0&appid=' + apiKey + '&units=metric';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 160,
        "wires": [["n_fetch_weather"]]
    },

    {
        "id": "n_fetch_weather",
        "type": "http request",
        "z": "tab_main",
        "name": "Fetch Weather (OpenWeatherMap)",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 820,
        "y": 160,
        "wires": [["n_merge_weather"]]
    },

    {
        "id": "n_catch_weather",
        "type": "catch",
        "z": "tab_main",
        "name": "Catch Weather Error",
        "scope": ["n_fetch_weather"],
        "uncaught": false,
        "x": 820,
        "y": 60,
        "wires": [["n_set_default_weather"]]
    },

    {
        "id": "n_set_default_weather",
        "type": "function",
        "z": "tab_main",
        "name": "Use Default Weather",
        "func": "node.warn('OpenWeatherMap unavailable: ' + (msg.error ? msg.error.message : 'unknown'));\nnode.status({ fill: 'yellow', shape: 'ring', text: 'Weather API unavailable - using defaults' });\nmsg.payload = null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 60,
        "wires": [["n_merge_weather"]]
    },

    {
        "id": "n_merge_weather",
        "type": "function",
        "z": "tab_main",
        "name": "Merge Weather & Flag Severity",
        "func": "const weather = msg.payload;\nconst flights = msg.flights;\n\nif (!flights || !Array.isArray(flights)) {\n    node.warn('No flights to process');\n    return null;\n}\n\nlet w;\nif (weather && weather.main && weather.wind) {\n    const windKt = Math.round((weather.wind.speed || 0) * 1.94384);\n    const gustKt = Math.round(((weather.wind.gust || weather.wind.speed || 0)) * 1.94384);\n    w = {\n        windSpeed: windKt,\n        gust: gustKt,\n        temperature: weather.main.temp !== undefined ? Math.round(weather.main.temp) : 15,\n        pressure: weather.main.pressure || 1013,\n        humidity: weather.main.humidity || 50,\n        clouds: weather.clouds ? weather.clouds.all : 0,\n        precipitation: weather.rain ? (weather.rain['1h'] || weather.rain['3h'] || 0) : 0,\n        condition: weather.weather && weather.weather[0] ? weather.weather[0].description : 'Clear'\n    };\n    node.status({ fill: 'green', shape: 'dot', text: w.condition + ' ' + w.windSpeed + 'kt' });\n} else {\n    w = { windSpeed: 10, gust: 15, temperature: 15, pressure: 1013, humidity: 50, clouds: 20, precipitation: 0, condition: 'Clear' };\n    node.status({ fill: 'yellow', shape: 'ring', text: 'Fallback weather applied' });\n}\n\nmsg.weatherSevere = w.windSpeed > 40 || w.precipitation > 5 || w.clouds > 90;\nmsg.payload = flights.map(f => Object.assign({}, f, { weather: w }));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 160,
        "wires": [["n_check_severity"]]
    },

    {
        "id": "n_check_severity",
        "type": "switch",
        "z": "tab_main",
        "name": "Severe Weather?",
        "property": "weatherSevere",
        "propertyType": "msg",
        "rules": [
            { "t": "true" },
            { "t": "else" }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1340,
        "y": 160,
        "wires": [["n_split_severe"], ["n_split_normal"]]
    },

    {
        "id": "n_split_severe",
        "type": "split",
        "z": "tab_main",
        "name": "Split Severe Flights",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1340,
        "y": 280,
        "wires": [["n_save_flight"]]
    },

    {
        "id": "n_save_flight",
        "type": "function",
        "z": "tab_main",
        "name": "Save Flight Ref",
        "func": "msg._flight = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 280,
        "wires": [["n_post_severe_flight"]]
    },

    {
        "id": "n_post_severe_flight",
        "type": "http request",
        "z": "tab_main",
        "name": "POST Severe Flight",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:3000/api/ingest/flights",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [
            { "keyType": "str", "keyValue": "Content-Type", "valueType": "str", "valueValue": "application/json" }
        ],
        "x": 1760,
        "y": 280,
        "wires": [["n_build_alert"]]
    },

    {
        "id": "n_build_alert",
        "type": "function",
        "z": "tab_main",
        "name": "Build Weather Alert",
        "func": "const f = msg._flight;\nif (!f) { return null; }\n\nconst score = (f.weather.windSpeed > 40 ? 30 : 0) +\n              (f.weather.precipitation > 5 ? 25 : 0) +\n              (f.weather.clouds > 90 ? 15 : 0);\n\nmsg.payload = {\n    flightId: f.id,\n    callsign: f.callsign,\n    message: 'Severe weather for ' + (f.callsign || f.id) + ': ' +\n             f.weather.windSpeed + 'kt wind, ' +\n             f.weather.precipitation + 'mm/h precipitation, ' +\n             f.weather.clouds + '% cloud cover',\n    score: score\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1980,
        "y": 280,
        "wires": [["n_post_alert"]]
    },

    {
        "id": "n_post_alert",
        "type": "http request",
        "z": "tab_main",
        "name": "POST Alert",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:3000/api/alerts",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [
            { "keyType": "str", "keyValue": "Content-Type", "valueType": "str", "valueValue": "application/json" }
        ],
        "x": 2200,
        "y": 280,
        "wires": [["n_debug_alerts"]]
    },

    {
        "id": "n_debug_alerts",
        "type": "debug",
        "z": "tab_main",
        "name": "Alert Sent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2400,
        "y": 280,
        "wires": []
    },

    {
        "id": "n_split_normal",
        "type": "split",
        "z": "tab_main",
        "name": "Split Normal Flights",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1340,
        "y": 380,
        "wires": [["n_post_flight"]]
    },

    {
        "id": "n_post_flight",
        "type": "http request",
        "z": "tab_main",
        "name": "POST Flight",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:3000/api/ingest/flights",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [
            { "keyType": "str", "keyValue": "Content-Type", "valueType": "str", "valueValue": "application/json" }
        ],
        "x": 1560,
        "y": 380,
        "wires": [["n_debug_response"]]
    },

    {
        "id": "n_debug_response",
        "type": "debug",
        "z": "tab_main",
        "name": "Flight Ingested",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 380,
        "wires": []
    },

    {
        "id": "n_catch_main",
        "type": "catch",
        "z": "tab_main",
        "name": "Catch All Errors",
        "scope": null,
        "uncaught": true,
        "x": 340,
        "y": 480,
        "wires": [["n_log_error"]]
    },

    {
        "id": "n_log_error",
        "type": "function",
        "z": "tab_main",
        "name": "Log & Format Error",
        "func": "const errMsg = msg.error ? (msg.error.message || JSON.stringify(msg.error)) : 'Unknown error';\nconst src = msg.error && msg.error.source ? msg.error.source.id : 'unknown';\nnode.error('[' + src + '] ' + errMsg);\nnode.status({ fill: 'red', shape: 'ring', text: errMsg.substring(0, 40) });\nmsg.payload = { error: errMsg, source: src, timestamp: new Date().toISOString() };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 480,
        "wires": [["n_debug_error"]]
    },

    {
        "id": "n_debug_error",
        "type": "debug",
        "z": "tab_main",
        "name": "Error Log",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.error",
        "statusType": "msg",
        "x": 800,
        "y": 480,
        "wires": []
    },

    {
        "id": "h_inject",
        "type": "inject",
        "z": "tab_health",
        "name": "Every 5 min",
        "props": [{ "p": "payload" }],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 120,
        "wires": [["h_check"]]
    },

    {
        "id": "h_check",
        "type": "http request",
        "z": "tab_health",
        "name": "GET /api/health",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:3000/api/health",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 320,
        "y": 120,
        "wires": [["h_switch"]]
    },

    {
        "id": "h_switch",
        "type": "switch",
        "z": "tab_health",
        "name": "Backend OK?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            { "t": "eq", "v": "200", "vt": "num" },
            { "t": "else" }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 120,
        "wires": [["h_debug_ok"], ["h_debug_error"]]
    },

    {
        "id": "h_debug_ok",
        "type": "debug",
        "z": "tab_health",
        "name": "Backend Healthy",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 740,
        "y": 80,
        "wires": []
    },

    {
        "id": "h_debug_error",
        "type": "debug",
        "z": "tab_health",
        "name": "Backend DOWN",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 740,
        "y": 160,
        "wires": []
    },

    {
        "id": "h_catch",
        "type": "catch",
        "z": "tab_health",
        "name": "Catch Health Error",
        "scope": null,
        "uncaught": false,
        "x": 320,
        "y": 220,
        "wires": [["h_debug_error"]]
    },

    {
        "id": "c_inject",
        "type": "inject",
        "z": "tab_cleanup",
        "name": "Every Hour",
        "props": [{ "p": "payload" }],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 120,
        "wires": [["c_request"]]
    },

    {
        "id": "c_request",
        "type": "http request",
        "z": "tab_cleanup",
        "name": "DELETE /api/flights/stale",
        "method": "DELETE",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:3000/api/flights/stale",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 340,
        "y": 120,
        "wires": [["c_result"]]
    },

    {
        "id": "c_result",
        "type": "function",
        "z": "tab_cleanup",
        "name": "Log Cleanup Result",
        "func": "const result = msg.payload;\nconst deleted = result && result.deleted !== undefined ? result.deleted : '?';\nnode.status({ fill: 'green', shape: 'dot', text: 'Removed ' + deleted + ' stale records' });\nmsg.payload = { message: 'Cleanup complete', deleted: deleted, timestamp: new Date().toISOString() };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 120,
        "wires": [["c_debug"]]
    },

    {
        "id": "c_debug",
        "type": "debug",
        "z": "tab_cleanup",
        "name": "Cleanup Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 120,
        "wires": []
    },

    {
        "id": "c_catch",
        "type": "catch",
        "z": "tab_cleanup",
        "name": "Catch Cleanup Error",
        "scope": null,
        "uncaught": false,
        "x": 340,
        "y": 220,
        "wires": [["c_debug_error"]]
    },

    {
        "id": "c_debug_error",
        "type": "debug",
        "z": "tab_cleanup",
        "name": "Cleanup Error",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 220,
        "wires": []
    }
]
